name: Deploy Jupyter Book

on:
  push:
    branches:
      - main  # Trigger deployment only when pushing to main branch

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write  # Allows the action to push to gh-pages branch

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Upgrade pip and install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r mybook/requirements.txt
          pip install jupyter-book ghp-import

      - name: Build Jupyter Book
        run: |
          jupyter-book build mybook

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./mybook/_build/html
